/* All Page */

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
}

/* Home Page */

.maj {
    border-style: solid;
    border-color: red;
    width: 100%;
    text-align: center;
    background: linear-gradient(#f38585, 98%, lightgrey);
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.margin-hr {
    margin-top: 60%;
}

/* Cart Page */

.text-panier {
    text-align: center;
    border-style: solid;
    background: linear-gradient(333, 98%, #333);
    width: 26%;
    margin-top: 15%;
    margin-left: 36%;
}

/* Profile Page */

.a-button-profile:link, .a-button-profile:visited {
    color: #333;
    border: 2px solid #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
    
.a-button-profile:hover, .a-button-profile:active {
    background-color: #f3f3f3;
    color: #333;
}
    
.text-profile {
    color: #333;
    text-align: center;
    margin-top: 4%;;
}

.p-produit-prix{
    color:#333;
    position:absolute;
    margin-left:20%;
    margin-top:0.25%
}

.p-produit-title{
    color:#333;
    position:absolute;
    margin-left:20%;
    margin-top:3%;
}
