{% extends 'base.html.twig' %}

{% block title %}
Commentaire Activité
{% endblock %}

{% block body %}

{{ form_start(commentaireForm) }}
        <h1>Commenter l'Activités</h1> 
        {{ form_row(commentaireForm.contenu) }}
        {{ form_rest(commentaireForm) }}
{{ form_end(commentaireForm) }}


{% endblock %}